.expertise
{
    padding-top:50px;
    text-align: center;
    overflow-x:hidden;
}
.expertise h1{
   color: #1d2738;
   font-family: 'Khula', sans-serif;
   font-size: 34px;
   
}
.expertise p{
    color: #676767;
    font-family: 'Noticia Text', sans-serif;
    font-size: 18px;
    font-weight: 100;
}
.expertise h1:hover,.expertise p:hover{
text-decoration: underline;
cursor: pointer;
}