.zigzagg
{
    padding: 64px;
}
.zigheader
{
    color: #1d2738;
    font-family: 'Khula', sans-serif;
    font-size: 34px;
    text-align: center;
    
}
.zigzagg h2{
    color: mediumseagreen;
    position:relative;
    
}
.zigcol
{
    padding: 0px;
}
.zigzagg p{
    padding-top: 10px;
}
.zigimage1
{

}
